@{
    ViewData["Title"] = "Home Page";
    Layout = "_DashboardLayoutE";
}


<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Ticket Table</h1>
</div>

<!--Modal Detail-->
<!--<div class="modal fade" id="getrequest" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Detail Tiket Komplain</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="form-group">
                    <label for="idticket" class="col-form-label">ID Ticket :</label>
                    <h3 id="IDTicket"></h3>
                </div>
                <div class="form-group">
                    <label for="title" class="col-form-label">Title :</label>
                    <h3 id="Title"></h3>
                </div>
                <div class="form-group">
                    <label for="startdate" class="col-form-label">Start Date :</label>
                    <h3 id="StartDate"></h3>
                </div>
                <div class="form-group">
                    <label for="updatedate" class="col-form-label">Update Date :</label>
                    <h3 id="UpdateDate"></h3>
                </div>
                <div class="form-group">
                    <label for="detail" class="col-form-label">Detail :</label>
                    <h3 id="Detail"></h3>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>-->
<!--Datatable For Table-->
<!--<div class="table-responsive">
    <table class="table table-striped table-hover" id="registerData">
        <thead>
            <tr>
                <th scope="col">No</th>
                <th scope="col">Id Ticket</th>
                <th scope="col">title</th>
                <th scope="col">Email</th>
                <th scope="col">Complaint Time</th>
                <th scope="col">Update Complaint Time</th>
                <th scope="col">Status</th>
                <th scope="col">Aksi</th>
                <th scope="col">No. Telp</th>
                <th scope="col">Name</th>
                <th scope="col">Message</th>
            </tr>
        </thead>-->
<!--Show isi data table link to ajax js-->
<!--<tbody id="showData">
        </tbody>
    </table>
</div>-->
<!-- Large modal -->

<div class="modal fade bd-example-modal-lg" id="getdetail" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">


        <div class="modal-content">
            <div class="modal-header text-center text-black">
                <h5 class="modal-title">Complaint Ticket Detail</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <section class="row">
                    <div class="col-lg">
                        <div class="card">
                            <div class="card-header text-center">

                                <h4> <span class="text-primary"><i class="bi bi-person"></i></span>Complaint Data</h4>
                            </div>
                            <div class="card-body">
                                <div class="row p-2">
                                    <div class="col-lg-6">Id Ticket</div>
                                    <div class="col fw-bold profil" id="idTicket"></div>
                                </div>
                                <div class="row p-2">
                                    <div class="col-lg-6">Title</div>
                                    <div class="col fw-bold profil" id="title1"></div>
                                </div>
                                <div class="row p-2">
                                    <div class="col-lg-6">Complain Time</div>
                                    <div class="col fw-bold profil" id="startDate"></div>
                                </div>
                                <div class="row p-2">
                                    <div class="col-lg-6">Complain Update</div>
                                    <div class="col fw-bold profil" id="updateDate"></div>
                                </div>
                                <div class="row p-2">
                                    <div class="col-lg-6">Status</div>
                                    <div class="col fw-bold profil" id="detail"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg">
                        <div class="card">
                            <div class="card-header text-center">
                                <h4> <span class="text-primary"><i class="bi bi-briefcase"></i></span>Personal Data</h4>
                            </div>
                            <div class="card-body">
                                <div class="row p-2">
                                    <div class="col-lg-6">Name</div>
                                    <div class="col fw-bold profil" id="firstname"></div>
                                </div>
                                <div class="row p-2">
                                    <div class="col-lg-6">No Telp</div>
                                    <div class="col fw-bold profil" id="phoneNumber"></div>
                                </div>
                                <div class="row p-2">
                                    <div class="col-lg-6">Email</div>
                                    <div class="col fw-bold profil" id="email"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <div class="container mt-3">
                    <p class="text-justify">Message<br><span class="profil text-break" id="message1"></span></p>
                </div>

                <input type="hidden" id="idtemp" />

            </div>
            <div class="modal-footer">

                <button type="button" id="ongoing" class="btn btn-primary">On Going</button>
                <button type="button" id="complete" class="btn btn-success">Complete</button>
                @*<button type="button" id="send" class="btn btn-warning">Send</button>*@

            </div>
        </div>
    </div>
</div>



<!--Datatable For Table-->
<div class="table-responsive">
    <table class="table table-striped table-hover" id="registerData">
        <thead>
            <tr>
                <th scope="col">No</th>
                <th scope="col">Id Ticket</th>
                <th scope="col">title</th>
                <th scope="col">Email</th>
                <th scope="col">Complaint Time</th>
                <th scope="col">Update Complaint Time</th>
                <th scope="col">Status</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <!--Show isi data table link to ajax js-->
        <tbody id="showData">
        </tbody>
    </table>
</div>






<!--Create Chart bottom table-->
<!--<div class="row mt-4">-->
<!-- Pie Chart -->
<!--<div class="col-xl-5">
    <div class="card shadow mb-4">-->
<!-- Card Header - Dropdown -->
<!--<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
    <h6 class="m-0 font-weight-bold text-primary">Top Gender</h6>
</div>-->
<!-- Card Body -->
<!--<div class="card-body">
            <div id="piechart"></div>
        </div>
    </div>
</div>

<div class="col-xl-7">
    <div class="card shadow mb-4">-->
<!-- Card Header - Dropdown -->
<!--<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
    <h6 class="m-0 font-weight-bold text-primary">Top University</h6>
</div>-->
<!-- Card Body -->
<!--<div class="card-body">
                <div id="barChart"></div>
            </div>
        </div>
    </div>
</div>-->


@section Scripts{
    <script type="text/javascript" src="~/js/DashboardEngineer.js"></script>
}


