@{
    ViewData["Title"] = "Home Page";
    Layout = "_DashboardLayout";
}



<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Tabel Tiket</h1>

</div>


<!--Botton Request Ticket-->
<button type="button" class="btn btn-primary mb-2" data-toggle="modal" data-target=".bd-example-modal-lg">Add Complaint</button>
<!--Table To Request Ticket-->
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="container">

                <div class="modal-header">
                    <center>  <h5 class="modal-title">Form Complaint</h5>  </center>
                    <button type="submit" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <form class="needs-validation" novalidate>

                    <div class="form-group">
                        <label for="title">Title</label>
                        <input type="text" class="form-control" id="title" aria-describedby="title" placeholder="Create title problem">
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please create title.
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="message">Message</label>
                        <textarea class="form-control" name="message" id="message" rows="3"></textarea>
                        <label class="form-label" for="message"></label>
                    </div>

                    @*<div class="form-group">
                            <label for="startdate">Complaint Time</label>
                            <input type="datetime-local" class="form-control" id="startdate" placeholder="">
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Please choose a Date.
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="updatetime">Update Time</label>
                            <input type="datetime-local" class="form-control" id="updatedate" placeholder="">
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Please choose a time.
                            </div>
                        </div>*@

                    <div class="form-group">
                        <label for="nik">NIK</label>
                        <input type="text" class="form-control" id="nik" placeholder="">
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please choose a nik.
                        </div>
                    </div>
                    <div class="form-group">
                    </div>
                    <button class="btn btn-primary mb-3" type="submit">Create</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!--Modal Detail-->
<div class="modal fade" id="getrequest" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Detail Tiket Komplain</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <form action="/" method="post">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="idticket" class="col-form-label">ID Ticket :</label>
                        <input type="text" class="form-control" id="idticket" aria-describedby="idticket" placeholder="Create title problem">
                    </div>
                    <div class="form-group">
                        <label for="title" class="col-form-label">Title :</label>
                        <input type="text" class="form-control" id="title" aria-describedby="title" placeholder="Create title problem">

                    </div>
                    <div class="form-group">
                        <label for="startdate" class="col-form-label">Start Date :</label>
                        <input type="datetime-local" class="form-control" id="startdate" aria-describedby="startdate" placeholder="Create title problem">

                    </div>
                    <div class="form-group">
                        <label for="updatedate" class="col-form-label">Update Date :</label>
                        <input type="datetime-local" class="form-control" id="updatedate" aria-describedby="updatedate" placeholder="Create title problem">

                    </div>

                    <div class="form-group">
                        <label for="detail" class="col-form-label">Detail :</label>
                        <select id="detail" name="detail" required>
                            <option value=#>Pilih</option>
                            <option value=1>Pending</option>
                            <option value=2>On Going</option>
                            <option value=3>Complete</option>
                        </select>
                        <div class="invalid-feedback">Example invalid custom select feedback</div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!--Datatable For Table-->
<div class="table-responsive">
    <table class="table table-striped table-hover" id="registerData">
        <thead>
            <tr>
                <th scope="col">Id Ticket</th>
                <th scope="col">Title</th>
                <th scope="col">Complaint Time</th>
                <th scope="col">Update Complaint Time</th>
                <th scope="col">Status</th>
                <th scope="col">Priority</th>
                @*<th scope="col">Aksi</th>*@
            </tr>
        </thead>
        <!--Show isi data table link to ajax js-->
        <tbody id="showData">
        </tbody>
    </table>
</div>



<!--Create Chart bottom table-->
<!--<div class="row mt-4">-->
<!-- Pie Chart -->
<!--<div class="col-xl-5">
    <div class="card shadow mb-4">-->
<!-- Card Header - Dropdown -->
<!--<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
    <h6 class="m-0 font-weight-bold text-primary">Top Gender</h6>
</div>-->
<!-- Card Body -->
<!--<div class="card-body">
            <div id="piechart"></div>
        </div>
    </div>
</div>

<div class="col-xl-7">
    <div class="card shadow mb-4">-->
<!-- Card Header - Dropdown -->
<!--<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
    <h6 class="m-0 font-weight-bold text-primary">Top University</h6>
</div>-->
<!-- Card Body -->
<!--<div class="card-body">
                <div id="barChart"></div>
            </div>
        </div>
    </div>
</div>-->


@section Scripts{
    <script type="text/javascript" src="~/js/DashboardAdmin.js"></script>
}


