@{
    ViewData["Title"] = "Home Page";
    Layout = "_DashboardLayout";
}

<!--Botton Register-->
<button type="button" class="btn btn-primary mb-2" data-toggle="modal" data-target=".bd-example-modal-lg">Add Complaint</button>

<!--Table To Register-->
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="container">

                <div class="modal-header">
                    <center>  <h5 class="modal-title">Form Complaint</h5>  </center>
                    <button type="submit" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <form class="needs-validation" novalidate>

                    <div class="form-group">
                        <label for="title">Title</label>
                        <input type="text" class="form-control" id="title" aria-describedby="title" placeholder="Create title problem">
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please create title.
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="message">Message</label>
                        <textarea class="form-control" name="message" id="message" rows="3"></textarea>
                        <label class="form-label" for="message"></label>
                    </div>

                    <div class="form-group">
                        <label for="startdate">Complaint Date</label>
                        <input type="date" class="form-control" id="startdate" placeholder="">
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please choose a Date.
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="starttime">Complaint Time</label>
                        <input type="time" class="form-control" id="startdate" placeholder="">
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please choose a time.
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="status" class="col-form-label">Status :</label>
                        <select id="status" name="status" required>
                            <option value=#>Pilih</option>
                            <option value=1>Pending</option>
                            <option value=2>On Going</option>
                            <option value=3>Complete</option>
                        </select>
                        <div class="invalid-feedback">Example invalid custom select feedback</div>
                    </div>

                    <div class="form-group">
                        <label for="nik">NIK</label>
                        <input type="text" class="form-control" id="nik" placeholder="">
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please choose a nik.
                        </div>
                    </div>

                    <div class="form-group">
                    </div>
                    <button class="btn btn-primary mb-3" type="submit">Create Ticket</button>
                </form>
            </div>
        </div>
    </div>
</div>


<!--Datatable For Table-->
<div class="table-responsive">
    <table class="table table-striped table-hover" id="registerData">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Complaint Date</th>
                <th scope="col">Complaint Time</th>
                <th scope="col">Update Complaint Date</th>
                <th scope="col">Update Complaint Time</th>
                <th scope="col">Id Ticket</th>
                <th scope="col">Status</th>
                <th scope="col">Aksi</th>
            </tr>
        </thead>
        <!--Show isi data table link to ajax js-->
        <tbody id="showData">
        </tbody>
    </table>
</div>


<!--Create Chart bottom table-->

<!--<div class="row mt-4">-->
    <!-- Pie Chart -->
    <!--<div class="col-xl-5">
        <div class="card shadow mb-4">-->
            <!-- Card Header - Dropdown -->
            <!--<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Top Gender</h6>
            </div>-->
            <!-- Card Body -->
            <!--<div class="card-body">
                <div id="piechart"></div>
            </div>
        </div>
    </div>

    <div class="col-xl-7">
        <div class="card shadow mb-4">-->
            <!-- Card Header - Dropdown -->
            <!--<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Top University</h6>
            </div>-->
            <!-- Card Body -->
            <!--<div class="card-body">
                <div id="barChart"></div>
            </div>
        </div>
    </div>
</div>-->


@section Scripts{
    <script type="text/javascript" src="~/js/ajax.js"></script>
    <script src="~/tinymce/tinymce.js"></script>
}


