@{
    ViewData["Title"] = "Home Page";
    Layout = "_DashboardLayoutE";
}


<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
</div>

<!--Create Chart bottom table-->

<div class="row mt-4">
    <!-- Pie Chart -->
    <div class="col-xl-5">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Top Status</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div id="piechart"></div>
            </div>
        </div>
    </div>

    <div class="col-xl-7">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Top Priority</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div id="barChart"></div>
            </div>
        </div>
    </div>
</div>



@section Scripts{
    <script type="text/javascript" src="~/js/DashboardEngineer.js"></script>
}


