@{
    ViewData["Title"] = "Home Page";
    Layout = "_DashboardLayoutE";
}



<!--Datatable For Table-->
<div class="table-responsive">
    <table class="table table-striped table-hover" id="registerData">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Complaint Date</th>
                <th scope="col">Complaint Time</th>
                <th scope="col">Update Complaint Date</th>
                <th scope="col">Update Complaint Time</th>
                <th scope="col">Id Ticket</th>
                <th scope="col">Status</th>
                <th scope="col">Aksi</th>
            </tr>
        </thead>
        <!--Show isi data table link to ajax js-->
        <tbody id="showData">
        </tbody>
    </table>
</div>


<!--Create Chart bottom table-->
<!--<div class="row mt-4">-->
<!-- Pie Chart -->
<!--<div class="col-xl-5">
    <div class="card shadow mb-4">-->
<!-- Card Header - Dropdown -->
<!--<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
    <h6 class="m-0 font-weight-bold text-primary">Top Gender</h6>
</div>-->
<!-- Card Body -->
<!--<div class="card-body">
            <div id="piechart"></div>
        </div>
    </div>
</div>

<div class="col-xl-7">
    <div class="card shadow mb-4">-->
<!-- Card Header - Dropdown -->
<!--<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
    <h6 class="m-0 font-weight-bold text-primary">Top University</h6>
</div>-->
<!-- Card Body -->
<!--<div class="card-body">
                <div id="barChart"></div>
            </div>
        </div>
    </div>
</div>-->


@section Scripts{
    <script type="text/javascript" src="~/js/ajax.js"></script>
}


